<div class="col-sm-4">
  <img src="images/gtd3.jpg" alt="">
</div>
<div class="col-sm-8">
  <h1>Get Things Done!</h1>
  <br>
  <% if (loggedIn) { %>
    <h4> プロジェクト: 完了すべきプロジェクトリスト一覧。</h4>
    <h4> タスク: 各プロジェクトの作業タスク一覧。</h4>
    <h4> 担当者: 各タスクの担当者一覧。</h4>
  <% } %>
</div>