<!--新規プロジェクト登録ページ-->
<div class="data-form">
  <form class="form-signin" action="<%=`/projects/create`%>" method="POST">
    <h2 class="form-signin-heading">プロジェクト新規登録:</h2>
    <label for="inputProname">プロジェクト名</label>
    <input type="text" name="proname" id="inputProname" class="form-control" placeholder="プロジェクト名" autofocus>
    <label for="inputDescription">プロジェクト概略</label>
    <input type="text" name="description" id="inputDescription" class="form-control" placeholder="プロジェクト概略">
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">保存</button>
  </form>
</div>
