<!--ログインページ-->
<form class="form-signin" action="/users/login" method="POST">
  <h2 class="form-signin-heading">ログイン:</h2>
  <label for="inputEmail" class="sr-only">メールアドレス</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="メールアドレス" autofocus required>
  <label for="inputPassword" class="sr-only">パスワード</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
</form>
